<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new student</title>
</head>
<body>
    <h1>Add new student</h1>
    <form action="/add-student" method="POST">
        <input type="text" name="fullName" placeholder="fullName">
        <input type="text" name="code" placeholder="code">
        <input type="text" name="fieldOfStudies" placeholder="fieldOfStudies">
        <button>Add student</button>
    </form>
</body>
</html>