<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authors</title>
</head>

<body>
    <%- include('partials/navigation') %>
        <h1>Authors List</h1>
        <ul>
            <% if (authors.length> 0) { %>
                <% authors.forEach(author=> { %>
                    <li>
                        <%= author.name %>
                    </li>
                    <% }) %>
                        <% } else { %>
                            <p>No authors</p>
                            <% } %>
        </ul>
</body>

</html>